@charset "utf-8";

@font-face {
	font-family: 'MinhaFonte';
	src: url(../fontes/arial.ttf);
	font-family: 'FonteSlogan';
	src: url(../fontes/TitilliumWeb-SemiBold.ttf);
	font-family: 'Tahoma';
	src: url("../fontes/Tahoma.ttf");
}

body {
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 1);
}

div#interface {
	background-color: white;
	margin: -20px auto 10px auto;
	box-shadow: 1px black;
	padding: 15px;
	padding-left: 30px;
}

div#interface li {
	font-family: 'Tahoma';
	font-size: 16pt;
}

header#cabecalho {
	border-bottoms: 1px solid black;
	height: 80px;
	margin-top: 10px;
	padding-left: 70px;
	/*background: url("../imagens/nsoft.png") no-repeat 0px 90px transparent;*/
}

header#cabecalho h1 {
	font-family: 'MinhaFonte', sans-serif;
	font-size: 30pt;
	color: rgb(47, 79, 79);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	padding: 0px;
	margin-bottom: 0px;
}

header#cabecalho h2 {
	font-family: 'FonteSlogan', sans-serif;
	font-size: 16pt;
	color: rgb(32, 178, 170);
	padding: 0px;
	margin-top: 0px;
}

p {
	text-align: justify;
	text-indent: 50px;
}

/** formatação menu **/
nav#menu {
	display: block;
	font-family: 'Tahoma' sans-serif;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 10px;
	left: 500px;
	right: auto;
}

nav#menu li {
	display: inline-block;
	background-color: rgb(47, 79, 79);
	padding: 10px;
	margin: 2px;
	transition: 1s;
}

nav#menu h1 {
	display: none;
}

nav#menu li:hover {
	background-color: rgb(32, 178, 170);
}

nav#menu a {
	color: white;
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
	text-decoration: underline;
}

.contatodireto {
	color: blue;
	font-style: italic;
}

.redessociais {
	list-style: circle;
}

/** **/
section#slideimagens {
	display: block;
	width: auto;
	/* margin-top: -90px;
margin-bottom: -10px;*/
	margin: -100px auto -10px auto;
	/* border-bottom: 1px solid black;*/
}

section#corpo {
	display: block;
	width: auto;
	float: right;
	padding-left: 10px;
}

/* linhas testes para o estilo da section formulário*/
section#corpoformulario {
	display: block;
	width: 400px;
	float: right;
	padding: 25px;
	background-color: wheat;
}

section#corpopainel {
	display: block;
	width: 100px;
	float: right;
	padding-left: 20px;
	border-left: 1px solid black;
}

footer#rodape {
	clear: both;
	border-top: 1px solid black;
}

footer#rodape p {
	text-align: center;
	font-style: italic;
}

/** códigos para o slide de imagens**/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* Ok, maybe you should use it for you gallery works */
}

body {
	background: white;
	color: #333;
	font-family: 'Tahoma', sans-serif;
}

.wrap {
	width: 100%;
	height: 110vh;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Estilo da página final
    Abaixo desta linha, o código da Galeria começa !!*/

/* Slideshow container */
.gallery-container {
	width: 80%;
	position: relative;
	margin: 0 5%;
	background: #333;
	padding: 2px;
}

@media ( min-width : 480px) {
	.gallery-container {
		width: 500px;
		margin: auto;
	}
}

/* Oculta imagens por padrão */
.mySlides {
	display: none;
}

/* Botões proximo e anterior*/
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	background-color: rgba(0, 0, 0, 0.1);
}

/* Posiciona o botao proximo na direita */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Ao passar o mouse, adicione uma cor de fundo preta com um pouco de transparência */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Texto da legenda*/
.text {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
}

.imgslide {
	width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

@media ( max-width : 768px) {
	.numbertext {
		top: 15px;
	}
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

-webkit-keyframes fade {from { opacity:.4
	
}

to {
	opacity: 1
}

}
keyframes fade {from { opacity:.4
	
}

to {
	opacity: 1
}

caption#produto {
	font-style:italic;
	color: rgb(255, 0, 0);
}